
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/**font-family: 'Big Shoulders Display', cursive;**/
/**font-family: 'Lexend Deca', sans-serif;**/
.link{
    color: black;
    background: white;
    padding: 2px 8px;
    top: 0;
    cursor: pointer;
    margin-bottom: 2rem;
    border-radius: 30px;
}
.link:hover{
    background-color: rgb(251, 255, 0);
    color: black;
}
.items{
    background-color: hsl(0, 0%, 95%);
    min-height: 100vh;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.item{
    background-color: hsl(184,100%,22%);
    min-height: 25rem;
    max-width: 17rem;
    padding: 2.5rem;
    position: relative;
}
.item .image{
    margin-bottom: 1.5rem;
}
.item h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.3rem;
}
.item p{
    color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
}
.item button{
    position: absolute;
    background: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    text-align: center;
    padding: 12px 18px;
    bottom: 0;
    margin-bottom: 2rem;
    border-radius: 30px;
    color: hsl(184,100%,22%);
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
}
.first{
    background-color: hsl(31, 77%, 52%);
}
.second{
    background-color: hsl(184, 100%, 22%);
}
.third{
    background-color: hsl(179, 100%, 13%);
}
.first button{
    color: hsl(31, 77%, 52%);
}
.second button{
    color: hsl(184, 100%, 22%);
}
.third button{
    color: hsl(179, 100%, 13%);
}
button:hover{
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}
@media (max-width: 950px){
    .items{
        flex-direction: column;
        padding: 5rem 0;
    }
    .item{
        min-width: 22rem;
    }
}
